<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cohort</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>

	<body>
		<div id="container"></div>
		</div>
		<script src="/static/js/three.min.js"></script>
		<script src="/static/js/OrbitControls.js"></script>
        <script src="/static/js/ColladaLoader.js"></script>
        <script src="/static/js/MTLLoader.js"></script>
        <script src="/static/js/OBJMTLLoader.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/ws.js"></script>
	</body>
</html>
